[Github]
USERNAME=
PASSWORD=

[Email]
SERVER=
PORT=25
USERNAME=
PASSWORD=

[Celery]
BROKER_URL=redis://127.0.0.1:6379/0

[Database]
URL=mysql+pymysql://root:password@127.0.0.1/github-monitor?charset=utf8&autocommit=true

[Common]
TIMEZONE=Asia/Shanghai
