amqp==2.3.2
aniso8601==3.0.2
billiard==3.5.0.3
celery==4.2.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
lxml==4.2.1
MarkupSafe==1.0
PyMySQL==0.8.1
python-dateutil==2.7.3
pytz==2018.4
redis==2.10.6
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.8
urllib3==1.23
vine==1.1.4
Werkzeug==0.14.1
